.weather {
  color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 1%;
  top: 1%;
  font-size: 1vw;
  font-weight: bold;
  justify-content: center;
  align-items: flex-start;
}
